

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', [])
        app.controller('MyController', function ($scope, $http, $window) {
            $scope.isViewLoading = false;
            $scope.Person = {};
            $scope.submitForm = function () {
                var post = $http({
                    method: "POST",
                    url: "/Home/AjaxMethod",
                    dataType: 'json',
                    data: { person: $scope.Person },
                    headers: { "Content-Type": "application/json" }
                });

                post.success(function (data, status) {

                    $window.alert("Hello: " + data.Name + " .\nCurrent Date and Time: " + data.DateTime);
                });

                post.error(function (data, status) {
                    $window.alert(data.Message);
                });
                $scope.isViewLoading = false;
            }
        });
    </script>
    <div ng-app="MyApp" ng-controller="MyController">
        <form ng-submit="submitForm()" name="frmPerson">
            First Name:
            <input type="text" ng-model="Person.FirstName" name="FirstName" placeholder="Enter First name" requiredng-minlength="4" ng-maxlength="14" required ng-pattern="/^[a-zA-Z]*$/" />
            @*<span class="error" ng-show="(frmPerson.$dirty||submitted)&&frmPerson.FirstName.$error.required">First name is Required</span>*@
            <br />
            Last Name:
            <input type="text" ng-model="Person.LastName" name="LastName" placeholder="Enter Last name" requiredng-minlength="4" ng-maxlength="14" required ng-pattern="/^[a-zA-Z]*$/" />
            @*<span class="error" ng-show="(frmPerson.$dirty||submitted)&&frmPerson.LastName.$error.required">Last name is Required</span>*@
            <br />
            <input type="submit" value="Submit" ng-disabled="myForm.$invalid">
        </form>
    </div>
</body>
</html>

